*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(i-turn-coffee-into-code-plaque.jpg);
    backdrop-filter: blur(2px);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0% 0% 0% 0%;
   }
input[type=text],
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2.5px solid black;
    background: white;
}
.avatar{
    border-radius: 50%;
    position: relative;
    left:40%;
    height: 100px;
    width: 100px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
    margin-left: 0px;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button:hover {
    opacity:1;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}
  
.container{
    
    margin-right: 35%;
    padding: 16px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 500px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
.text-block{
    text-align: left;
    height: 100%;
    width: 50%;
    position: sticky;
    bottom: 50%;
    right: 90%;
    left: 10%;
    color: white;
    background-repeat: no-repeat;
    border: 7px solid black;
    border-radius: 5px;
    background-color:black;
    padding: 10px;
    
}